In [1]:
# Importing Libraries and reading Dataset
import pandas as pd

df = pd.read_excel('skill_data.xlsx')

df.head()

               Name                                            Skills
0    Maurice Valdez  ['reactjs', 'django', 'numpy', 'nodejs', 'html']
1      Samuel Green                     ['laravel', 'css', 'laravel']
2   Michael Rodgers   ['css', 'reactjs', 'flask', 'nodejs', 'nodejs']
3     Lindsey Leach             ['nodejs', 'html', 'html', 'reactjs']
4  Kimberly Hartman                            ['matpotlib', 'nosql']

In [2]:
# Skills To Assign Designation

web_devloper_skills = [
    'django',
    'html',
    'css',
    'nodejs',
    'reactjs',
    'nodejs',
    'flask',
    'laravel'
]

machine_learning_skills = [
    'nosql',
    'pandas',
    'numpy',
    'matpotlib',
    'seabron',
    'scipy'
]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    50 non-null     object
 1   Skills  50 non-null     object
dtypes: object(2)
memory usage: 928.0+ bytes

In [4]:
# The Function will assign role, based on at least 3 skills(ML/Web) and return dataframe
def Assign_designation(df):
    List = []

    for i in df['Skills']: # i ex: "['reactjs', 'django', 'numpy', 'nodejs', 'html','django','numpy']"

        d = set(eval(i)) # remove duplicates from i and eval [['reactjs', 'django', 'numpy', 'nodejs', 'html']]
        w=0
        m=0

        if len(d)<=2:
            List+=["Not Elgible"]
        else:
            for j in d:
                if j in web_devloper_skills:
                    w+=1
                elif j in machine_learning_skills:
                    m+=1

            if w>m and w>=3:
                List+=["Web Developent"]
            elif m>w and m>=3:
                List+=["Machine Learning"]
            elif w==3 and m==3:
                List=["Equal"]
            else:
                List+=["Not Elgible"]

    df["Designation"] = List
    df.loc[len(df.index)]  = ["Total : ",len(web_devloper_skills)+len(machine_learning_skills),'']

    return df

In [5]:
# Calling Function
Assign_designation(df)
df.to_excel("Output.xlsx",index=False)

In [6]:
df

,Name,Skills,Designation
0,Maurice Valdez,"['reactjs', 'django', 'numpy', 'nodejs', 'html']",Web Developent
1,Samuel Green,"['laravel', 'css', 'laravel']",Not Elgible
2,Michael Rodgers,"['css', 'reactjs', 'flask', 'nodejs', 'nodejs']",Web Developent
3,Lindsey Leach,"['nodejs', 'html', 'html', 'reactjs']",Web Developent
4,Kimberly Hartman,"['matpotlib', 'nosql']",Not Elgible
5,Benjamin Garcia,"['numpy', 'scipy', 'matpotlib', 'nosql', 'node...",Machine Learning
6,Ernest Brown,"['scipy', 'pandas', 'nodejs']",Not Elgible
7,Stephen Evans Jr.,"['seabron', 'laravel', 'nodejs', 'css', 'nosql']",Web Developent
8,Alan Rodriguez,"['reactjs', 'nodejs', 'nodejs', 'nosql']",Not Elgible
9,Emily Barnes,"['html', 'html', 'matpotlib', 'laravel', 'css'...",Web Developent
10,Christopher Kline,"['laravel', 'html', 'html', 'nodejs', 'nodejs']",Web Developent
11,Melissa Greer,"['flask', 'seabron', 'scipy']",Not Elgible
12,Paul Evans,"['nodejs', 'nosql', 'laravel']",Not Elgible
13,Lisa Perry,"['django', 'numpy', 'scipy', 'html']",Not Elgible
14,Wendy Torres,"['flask', 'reactjs', 'pandas', 'scipy', 'matpo...",Machine Learning
15,Todd Patterson,"['nodejs', 'pandas']",Not Elgible
16,Aaron Mercado,"['flask', 'nodejs', 'css', 'numpy', 'django', ...",Web Developent
17,Patrick Camacho,"['nodejs', 'matpotlib', 'html', 'matpotlib']",Not Elgible
18,Aaron Sherman,"['seabron', 'nodejs', 'scipy', 'nodejs', 'html...",Web Developent
19,Gwendolyn Pearson,"['pandas', 'seabron', 'flask']",Not Elgible
20,Tiffany Johnson MD,"['nodejs', 'flask', 'scipy', 'pandas']",Not Elgible
21,Leah Rowland,"['css', 'nodejs', 'flask', 'nosql', 'reactjs']",Web Developent
22,Dana May,"['nodejs', 'pandas']",Not Elgible
23,Cynthia Salazar,"['reactjs', 'nodejs', 'django']",Web Developent
24,Derek Adams,"['laravel', 'matpotlib', 'scipy', 'reactjs', '...",Machine Learning
25,Miranda Garcia,"['pandas', 'laravel']",Not Elgible
26,Elizabeth Jones,"['nodejs', 'laravel', 'css', 'reactjs', 'nosql...",Web Developent
27,Brandi Wilson,"['nosql', 'matpotlib', 'matpotlib', 'django', ...",Not Elgible
28,James Stanton,"['reactjs', 'flask', 'matpotlib', 'django', 'c...",Web Developent
29,James Parker,"['html', 'nodejs']",Not Elgible
30,Stephen Wilson,"['numpy', 'scipy', 'nodejs', 'numpy', 'css', '...",Not Elgible
31,Mitchell Watson,"['matpotlib', 'nosql']",Not Elgible
32,Allison White,"['nosql', 'css']",Not Elgible
33,Linda Williams,"['nodejs', 'flask', 'scipy', 'matpotlib', 'nod...",Not Elgible
34,Joseph Herrera,"['numpy', 'nodejs', 'flask', 'nosql', 'nodejs']",Not Elgible
35,Kelly Hurley,"['matpotlib', 'seabron', 'nodejs', 'matpotlib'...",Not Elgible
36,John Preston,"['reactjs', 'pandas', 'html', 'flask']",Web Developent
37,Jacob Lopez,"['seabron', 'nodejs', 'pandas', 'nosql']",Machine Learning
38,Debbie Jensen,"['numpy', 'reactjs']",Not Elgible
39,Paula Alvarez,"['nosql', 'reactjs', 'matpotlib', 'laravel']",Not Elgible
40,Nathan Flores,"['seabron', 'html', 'numpy']",Not Elgible
41,Amanda Wright,"['html', 'html', 'css', 'nodejs', 'seabron', '...",Web Developent
42,Craig Franklin MD,"['css', 'nodejs', 'django', 'nodejs', 'matpotl...",Web Developent
43,Michelle Blanchard,"['numpy', 'numpy', 'seabron']",Not Elgible
44,Phillip Moss,"['nodejs', 'css']",Not Elgible
45,Jennifer Patrick,"['django', 'nodejs']",Not Elgible
46,Melvin Dominguez,"['laravel', 'css']",Not Elgible
47,Christina Willis,"['laravel', 'nodejs', 'nosql', 'django', 'matp...",Web Developent
48,Alexander Mueller,"['scipy', 'nosql', 'css', 'laravel', 'laravel']",Not Elgible
49,Jessica Johnson,"['nosql', 'html', 'css', 'scipy']",Not Elgible
50,Total :,14,